@font-face {
    font-family: "IBM Plex Mono Light Italic";
    src: url(./IBMPlexMono-LightItalic.woff) format("woff");
}

@font-face {
    font-family: "IBM Plex Mono Semibold";
    src: url(./IBMPlexMono-SemiBold.woff) format("woff");
}

html {
    background-color: #2d2339;
}

body {
    margin: 15%;
}

h1 {
    line-height: 100%;
    margin-bottom: 15px;
    font-family: "IBM Plex Mono Semibold", 'Courier New', Courier, monospace;
    font-size: 42px;
    color: rgb(89, 130, 241);
}

p {
    line-height: 160%;
    font-family: "IBM Plex Mono Light Italic", 'Courier New', Courier, monospace;
    font-size: 22px;
    color: rgb(250, 239, 202);
}

a :hover {
    color: rgb(226, 143, 19);
}